<section class="test">
    <div class="container">
        <div class="test-pre-title pre-title" id="pre-title">Тест №1. “JavaScript: Начальный уровень”</div>
        <div class="test-progress-bar" id="progress-bar"></div>
        <div class="test-question">
            <div class="test-question-title" id="title"><span>Вопрос 2:</span> Тут должен быть текст вопроса?</div>
            <div class="test-question-options" id="options"></div>
        </div>
        <div class="test-actions">
            <div class="test-previous-action">
                <button class="button button-transparent" id="prev" disabled>Назад</button>
            </div>
            <div class="test-time">
                <div class="test-time-text">Осталось времени:</div>
                <div class="test-time-clock" id="timer">59</div>
            </div>
            <div class="test-next-action">
                <button class="button button-transparent" id="next" disabled>Далее</button>
            </div>
        </div>
        <div class="pass-question link-action disabled">
            <a href="javascript:void(0)" id="pass">
                Пропустить вопрос
                <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.6293 0.664476C0.814607 0.459742 1.1308 0.443993 1.33553 0.6293L9.33553 7.87017C9.54974 8.06406 9.55552 8.39861 9.34813 8.59977L1.349 16.3589C1.15078 16.5512 0.834236 16.5463 0.64197 16.3481C0.449704 16.1499 0.454526 15.8334 0.652739 15.6411L7.88584 8.62503C8.09323 8.42387 8.08745 8.08931 7.87324 7.89543L0.664476 1.37071C0.459742 1.1854 0.443993 0.86921 0.6293 0.664476Z" fill="#6933DC"/>
                </svg>
            </a>
        </div>
    </div>
</section>