* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333;
}

a {
    color: #6933dc;
}

@font-face {
    src: url("../assets/fonts/MuseoSansCyrl-500.ttf");
    font-family: "Museo Sans Cyrl";
}

@font-face {
    src: url("../assets/fonts/MuseoSansCyrl-700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    border-radius: 6px;
    padding: 14px 35px;
    background: #6933dc;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    border: 0;
    transition: .4s;
    cursor: pointer;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #32098a;
}

.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent {
    background: transparent;
    color: #6933dc;
    border: 1px solid #6933dc;
}

.button-transparent:hover {
    background: #6933dc;
    color: #fff;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933dc;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933dc;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #dcdcf3;
}